@import "tailwindcss";

.leaflet-popup-close-button {
  display: none !important;
}

.leaflet-control-attribution {
  font-size: 10px;
  opacity: 0.6;
}

::-webkit-scrollbar {
  display: none;
}

.leaflet-control {
  z-index: 0 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}


